.header {
  width: 100%;
  height: 50px;
  padding: 15px 40px;
  text-align: center;

  color: #000;
  background-color: #f8fafa !important;
  border: 1px solid #e9e9e9;
  border-bottom: none;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}
.list li {
  margin-left: 15px;
  cursor: pointer;
}
