.container {
  display: grid;
  grid-template-columns: 274px 274px 274px 274px;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  grid-template-rows: 300px 300px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
  padding: 40px;

  background-color: #fff;
  color: #444;
}
.spanningCol {
  grid-column: 1;
  grid-row: 1 / 4;
}
.spanningRow {
  grid-column: 2 / 4;
  grid-row: 2;
}
.box2 {
  grid-column: 2;
  grid-row: 1;
}
.box3 {
  grid-column: 3;
  grid-row: 1;
}
.box4 {
  grid-column: 4;
  grid-row: 1;
}
.box5 {
  grid-column: 4;
  grid-row: 2;
}
@media (max-width: 1040px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0;
  }
  .container div {
    width: 100%;
  }
}
